{% include 'header.html' %}

    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{{url_for('static',filename='images/image1.png')}}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="Indicator">
                        </div>
                        <form id="LoginForm" action="{{url_for('account')}}" method="post">
                            <input name="username" type="text" placeholder="Username">
                            <input name="password" type="password" placeholder="Password">
                            <input type="submit" class="btn" value="Login" name="LoginForm">
                            <a href="">Forget Password</a>
                        </form>

                        <form id="RegForm" action="{{url_for('account')}}" method="post">
                            <input name="username" type="text" placeholder="Username">
                            <input name="email" type="email" placeholder="Email">
                            <input name="password" type="password" placeholder="Password">
                            <input type="submit" class="btn" value="Register" name="RegForm">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'footer.html' %}