<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raccoon</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
    <link rel="shortcut icon" href="{{url_for('static',filename='favicon.ico')}}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="google-site-verification" content="vMixHpE9BA2UaZ6CGwbh_0a7k6M4GMnEP4wfAODNtnU" />
</head>

<body>
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{{url_for('home')}}"><img src="{{url_for('static',filename='images/logo.png')}}" alt="logo" width="200px"></a>
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('all_products')}}">Products</a></li>
                        {% if not current_user.is_authenticated: %}
                        <li><a href="{{url_for('account')}}">Account</a></li>
                        {% else: %}
                        <li><a href="{{url_for('logout')}}">Logout</a></li>
                        {% endif %}
                        {% if current_user.id == 1 or current_user.username == "useroperator1": %}
                        <li><a href="{{url_for('add_product')}}">Add Product</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <a class="snipcart-checkout" href="cart.html"><img src="{{url_for('static',filename='images/cart.png')}}" width="30px" height="30px"></a>
                <img src="{{url_for('static',filename='images/menu.png')}}" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>