{% include 'header.html' %}

    <!-- Single Products -->
    <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{lis['image1']}}" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="{{lis['image2']}}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{lis['image3']}}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{lis['image4']}}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{lis['image5']}}" width="100%" class="small-img">
                    </div>
                </div>

            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>{{lis['name']}}</h1>
                <h4>{{lis['price']}}</h4>
<!--                <select>-->
<!--                    <option>Select Size</option>-->
<!--                    <option>XXL</option>-->
<!--                    <option>XL</option>-->
<!--                    <option>L</option>-->
<!--                    <option>M</option>-->
<!--                    <option>S</option>-->
<!--                </select>-->
<!--                <input type="number" value="1">-->
                <a class="snipcart-add-item btn" data-item-id="{{lis['id']}}" data-item-price="{{lis['price'][1:]}}"
  data-item-description="{{lis['description']}}"
  data-item-image="{{lis['image1']}}"
  data-item-name="{{lis['name']}}" data-item-url="/product-detail/{{lis['id']}}">Add To Cart</a>

                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{lis['description']}}</p>
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            {% for li in l[::-1][:4]: %}
            <div class="col-4">
                <a href="{{url_for('product',num=li['id'])}}"><img src="{{li['image1']}}"></a>
                <h4>{{li['name']}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>{{li['price']}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
{% include 'footer.html' %}