{% include 'header.html' %}

    <!-- All Products -->

    <div class="small-container">
        <div class="row row-2">
            <h2>All Products</h2>
            <select>
                <option>Default Sort</option>
                <option>Sort By Price</option>
                <option>Sort By Popularity</option>
                <option>Sort By Rating</option>
                <option>Sort By Sale</option>
            </select>
        </div>
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3  row-cols-lg-4">
            {% for lis in l %}
            <div class="col-4">
                <a href="{{url_for('product',num=lis['id'])}}"><img src="{{lis['image1']}}"></a>
                <h4>{{lis['name']}}</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>{{lis['price']}}</p>
            </div>
            {% endfor %}
        </div>


        <div class="page-btn">
            <span>1</span>
<!--            <span>2</span>-->
<!--            <span>3</span>-->
<!--            <span>4</span>-->
<!--            <span>&#8594;</span>-->
        </div>
    </div>

{% include 'footer.html' %}